{#
  about.html
  Authors: Beatrix Kim, Bessie Li, Samiksha Singh

  Purpose:
    Display about page for our project.
#}

{% extends "base.html" %}

{% block main_content %}
    <div class="center-text">
        <p>This is the alpha version of clump!</p>
        <p>clump aims to strengthen community ties by providing a 
            platform that allows users to find clumps of people based on
            shared interests or needs. clump attempts to address recurring 
            needs on campus, such as students needing to carpool for 
            various reasons (to and from concert venues, grocery runs, 
            traveling to the airport), students looking for hobby buddies 
            (such as a gym partner at a given time), or students needing 
            general help (plant-sitting or pet-sitting over short breaks) 
            to name a few.
        </p>
        <p>Created by: Beatrix Kim, Bessie Li, Samiksha Singh</p>
        <p>Last updated: December 4, 2025.</p>
    </div>
{% endblock %}